* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .subheading {
  color: #f34949;
  font-weight: bold;
  font-size: 40px; }

  @mixin flex-row-center{
	display:flex;
    align-items: center;
}

@mixin text-align{
    display:flex;
     text-align: center;
}

@mixin justify-content{
    display: flex;
    justify-content: space-between;
}