* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue;  */
}

 .subheading {
  color: #f34949;
  font-weight: bold;
  font-size: 40px; }

  @mixin flex-row-center{
	display:flex;
    align-items: center;
}
