/* Iconos de redes sociales */
.fa-facebook-f{
    margin-left: 20px;
    color: red;
    }
  .fa-twitter{
    color: red;
  }  
  .fa-instagram{
    color: red;
  }
  
  .hour{
    display: flex;
    justify-content: center;
  }
  
  .card-img-top{
    width: 100%;
    height: 450px;
  }