.card {
  margin-bottom: 30px;
}

.card-img-top {
  width: 100%;
  height: 450px;
}

button {

  &:hover {
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
  }

}

.colorBtn {
  background-color: $color-primario;
  color: #fff;
}

.colorBtn:hover {
  background-color: #26a100;
  color: #fff;
}

.promo-titulo {
  @include justify-center;
  margin: 30px 30px;
}

.carrito-icon {
  margin: 10px;
  cursor: pointer;
  color: red;
  font-size: 2rem;
}

#carrito-count {
  font-weight: bold;

}