* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

header {
  border-bottom: 1px solid #c1101a;
}

.hero{
  margin-top: 20px;
}

.colorBtn {
  background-color: #c1101a;
  color: #fff;
}

.colorBtn:hover {
  background-color: #a10000;
  color: #fff;
}


.lnr {
    font-size: 30px;
    margin-right: 10px;
    display: block;
    font-size: 32px;
    margin-bottom: 15px; }

    .menus:hover img {
        transform: scale(1.1, 1.1); }
      
      .menu-img {
        overflow: hidden;
        height: 80px;
        width: 80px; }
        .menu-img  {
          transition: all .5s ease;
          height: 100%;
          object-fit: cover; }
      
      
      
      .menus {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #ccc; }
        .menus p, .menus h3 {
          margin-bottom: 0; }
        .menus .text-wrap {
          width: calc(100% - 95px);
          margin-left: 15px; }
          .menus .text-wrap h4 {
            font-weight: 300; }

            .contact{
                display: flex;
                justify-content: center;
                background-color: #c01f1f;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: white;
            }
/* Iconos de redes sociales */
.fa-facebook-f{
  margin-left: 20px;
  color: red;
  }
.fa-twitter{
  color: red;
}  
.fa-instagram{
  color: red;
}

.hour{
  display: flex;
  justify-content: center;
}

.card-img-top{
  width: 100%;
  height: 450px;
}

.carousel-img{
  height: 700px;
}